- content_for :title do
  Corsego 
  \|
  New enrollment

.card
  .card-header
    %h1 
      .fa.fa-graduation-cap
      New enrolment
      = link_to @course.title, course_path(@course)
  .card-body 
    = form_tag course_enrolments_path(@course) do
      = submit_tag "Pay $#{@course.price}", class: 'btn btn-success'
  .card-footer
    = link_to 'Back', course_path(@course)