
- content_for :title do
  Corsego 
  \|
  = @enrolment.course.title

%p#notice= notice

%p
  %b Course:
  = @enrolment.course
%p
  %b User:
  = @enrolment.user
%p
  %b Rating:
  = @enrolment.rating
%p
  %b Review:
  = @enrolment.review
%p
  %b Price:
  = number_to_currency(@enrolment.price)

= link_to 'Edit', edit_enrolment_path(@enrolment)
\|
= link_to 'Back', enrolments_path
