<!DOCTYPE html>
<html>
  <head>
    <title>Vacation Homes & Condo Rentals - Airbnb - Airbnb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= favicon_link_tag 'https://a0.muscache.com/airbnb/static/logotype_favicon-21cc8e6c6a2cca43f061d2dcabdf6e58.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

      <%= yield %>

  </body>
</html>
