<!DOCTYPE html>
<html>
  <head>
    <title>TodoRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://kit.fontawesome.com/36c60608a5.js" data-mutate-approach="sync"></script>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= javascript_include_tag 'application' %>

</html>
